search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\UI\Components\Translation\TranslationControlFactory
	translationService: App\Services\Translation\TranslationService
